<h1>Update Track</h1>
<form action="<%= track_url(@track) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <%= render 'form', :track => @track, :albums => @albums %>

  <input type="submit" value="Update Track">
</form>