<form id="photo_form">
  <label for="title">Title</label>
  <input type="text" name="photo[title]" id="title">

  <label for="url">URL</label>
  <input type="text" name="photo[url]" id="url">

  <p><input type="submit" value="Create photo"></p>
</form>