<input type="hidden" name="authenticity_token"
       value="<%= form_authenticity_token %>">

<label for="band_name">Name</label>
<input type="text" name="band[name]" value="<%= band.name %>"
       id="band_name">