<h1>Update Band</h1>
<form action="<%= band_url(@band) %>" method="post">
  <input type="hidden" name="_method" value="put">

  <%= render 'form', :band => @band %>

  <input type="submit" value="Update Band">
</form>