<h1>Bands</h1>
<ul>
  <% @bands.each do |band| %>
    <li>
      <%= link_to band.name, band %>
      <%= button_to "Delete this Band", band, :method => :delete %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a Band", new_band_url %>