<h1>Bands</h1>
<ul>
  <% @bands.each do |band| %>
    <li>
      <%= link_to band.name, band %>
      <% if current_user.admin %>
        <%= button_to "Delete this Band", band, :method => :delete %>
      <% end %>
    </li>
  <% end %>
</ul>

<% if current_user.admin %>
  <%= link_to "Create a Band", new_band_url %>
<% end %>