<h1>Reset Password</h1>
<form action="<% user_url(@user) %>" method="post">
  <label for="password">New Password</label>
  <input type="password" name="password" id="password">
  </br>

  <input type="submit" value="Change Password">
</form>
