<h1><%= post.isNew() ? "Create a New Post!" : "Edit '" + post.get("title") + "'" %></h1>
<form id="post">
  <label for="post_title">Title</label>
  <input type="text" name="post[title]" value="<%= post.get("title") %>" id="post_title">
  </br>

  <label for="post_body">Body</label>
  </br>
  <textarea name="post[body]" rows="10" cols="20" id="post_body"><%= post.get("body") %></textarea>
  </br>

  <p><input type="submit"></p>
</form>