<h1>Posts</h1>
<ul>
  <% posts.forEach(function(post) { %>
    <li>
      <%= post.get("title") %>
      <button type="button" class="delete" data-id="<%= post.id %>">
        Delete
      </button>
    </li>
  <% }); %>
</ul>