<h1 class="post-data" data-attribute="title"><%= post.get("title") %></h1>
<pre class="post-data" data-attribute="body"><%= post.get("body") %></pre>
<a href="#posts/<%= post.get("id") %>/edit">Edit this post!</a>

<a href="#">Back</a>