<h1>Reset Password</h1>
<form action="<%= user_url(@user) %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="password">New Password</label>
  <input type="password" name="password" id="password">
  </br>

  <input type="submit" value="Change Password">
</form>
