<h1>Reset Password</h1>
<p>Type in your email below so that we can send you a linke to reset
your password.</p>
<form action="<%= reset_password_submit_users_url %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label for="email">Email</label>
  <input type="text" name="email" id="email">
  </br>

  <input type="submit" value="Send Email">
</form>
