<!-- <h1>Users</h1>
<ul>
  <% @users.each do |user| %>
    <li>
      <%= user.email %>
      <% unless user.admin %>
        <%= button_to "Make Admin", user_admin_url(user),
                      :method => :put %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "Home", root_url %> -->