<div id="content" data-current-user-id="<%= current_user.id %>"></div>

<script type="text/javascript" charset="utf-8">
  Photos.PhotoListView.initialize();
  Photos.PhotoFormView.initialize();
</script>